{
    "SECRET_KEY": "somerandomthingsbutkeepitsecret",
    "DATABASES":
                  {
                     "default":
                         {
                             "ENGINE": "django.db.backends.mysql",
                             "OPTIONS": {"charset": "utf8mb4"},
                             "NAME": "dbname",
                             "USER": "dbuser",
                             "PASSWORD": "dbpasswd",
                             "HOST": "dbserver.fqdn",
                             "PORT": "3306"
                         }
 
                  } 
    "HAYSTACK_CONNECTIONS":
                 {
                    "default":
                        {
                           "ENGINE": "haystack.backends.solr_backend.SolrEngine",
                           "URL":  "http://solr.fqdn:8983/solr/collection/yourcorename",
                           "ADMIN_URL": "http://solr.fqdn:8983/solr/admin/cores",
                           "TIMEOUT": 300,
                        }
                 }
 }
 